<div id="show-ingredient">
	<% if  flash[:notice] %>
		<p>Name: <%=@ingredient.name %></p>
		<p>Description: <%=@ingredient.description %>
		<p>Food_group: <%=@ingredient.food_group %>
 <% end %> 

</div>